@model IEnumerable<PI_INFOX.Models.Basicas.basContato>

@{
    ViewBag.Title = "InfoX - Contato";
}

<h2>Index</h2>
<hr />

<div>
  
        @Html.ActionLink("Criar Novo", "Create",null, new { @class = "btn btn-success" })
    
</div>

