@model PagedList.IPagedList<PI_INFOX.Models.Basicas.basMaterial>

@{
    ViewBag.Title = "NoticiasMaterial";
   
   
}

<h4>Postagens de Materiais Recentes</h4>


<table>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.ActionLink(item.titulo, "Index","material")
        </td>
     
      </tr>
}

</table>