        
<div class="row">
    <div class="pull-left">
        <img src="http://www.bitpix.com.br/upload/cases/cliente/1391438291.png">
    </div>
    <div class="navbar-inner">
        <ul class="pull-right">
            @Html.ActionLink("Entrar", "Login", new { area = "" }) | @Html.ActionLink("Sair", "Index", new { area = "" })
        </ul>
    </div>
  </div>
 
