   <div class="pull-right">
      
         @if (Session["nomeUsuarioLogado"] != null)
         {   
             <ul class="nav navbar-nav navbar-right">
                 <li>@Html.ActionLink("Painel do Usuario", "Index", "usuario", routeValues: null, htmlAttributes: new { id = "usuario" })
                 <li>@Html.ActionLink("Log Off", "Logoff", "home", routeValues: null, htmlAttributes: new { id = "logoff" })</li>
             </ul>
         }
         else
         {
             <ul class="nav navbar-nav navbar-right">
                 <li>@Html.ActionLink("Cadastro", "Index", "usuario", routeValues: null, htmlAttributes: new { id = "usuario" })</li>
                 <li>@Html.ActionLink("Log in", "Login", "home", routeValues: null, htmlAttributes: new { id = "login" })</li>
             </ul>
         }
 </div>
