        
<div class="row">
    <div class="navbar-inner">
        <ul class="pull-right">
            @Html.ActionLink("Log in", "Login", "home") @Html.ActionLink("Log off", "Index", new { area = "" })
        </ul>
    </div>
  </div>
 
