<div class="row">
          <div class="navbar-inner">
           <p class="pull-right"> 
               %copy; Todos diretots resevados InfoX @DateTime.Now.Year 

           </p> 
        </div>
  </div>
 