<div class="row">
          <div class="navbar-inner">
           <p class="pull-right"> 
               Todos direitos resevados | InfoX @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year
           </p> 
        </div>
  </div>
 