@model IEnumerable<PI_INFOX.Models.Basicas.basInstituicao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Criar Novo", "Create")</li>
    </ul>
</div>
<div>
    <ul>
        <li>@Html.ActionLink("Home","Index","home")</li>
    </ul>
</div>
