@model PagedList.IPagedList<PI_INFOX.Models.Basicas.basVaga_Estagio_Emprego>

@{
    ViewBag.Title = "NoticiasVagas";
}

<h4>Vagas Recentes</h4>


<table>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.ActionLink(item.cargo, "Index","vagas")
        </td>
     
      </tr>
}

</table>