@{
    ViewBag.Title = "InfoX - Sobre";
}

<h2>Sobre</h2>
<hr />

<P>O sistema Caixa Acadêmica Info X é um rede social que vai 
    permitir uma melhor interação extraclasse entre alunos e 
    professores, onde poderão ser disponibilizados materiais do 
    conteúdo dado em aula.
</P>
<p>
    O sistema tem por objetivo armazenar as aulas dos professores de
     modo fácil e que seja de fácil acesso para os alunos, reunindo tudo em
     um único ambiente. Também tem por objetivo a melhor interação extraclasse 
    do aluno com o professor, disponibilizando assim um ambiente onde possam interagir 
    por meio de mensagens escritas. Será um sistema web, voltado para computador e 
    plataformas móveis.

</p>
<p>
    Os usuários do sistema são alunos que estão em cursos preparatórios ou fazendo 
    matérias isoladas. Aborda o gênero feminino quanto o masculino. Gostam de jogar 
    jogos de computador, futebol, estudam. Podem ter dificuldades iniciais no sistema, 
    mas rapidamente aprenderão a interagir com o sistema.
    A Instiuição de ensino atuará como administradora principal do sistema,
    podendo visualizar, alterar e excluir cadastro no mesmo.
    Os professores também usarão o sistema, estes comprometidos com seu curso. Eles
    também poderão ter dificuldades iniciais mas pelo sistema ser de fácil manipulção, 
    rapidamente descobrirão como usá-lo. Terão mais dficulddades do que os alunos de usar
    o sistema por seu tempo limitado, por esar muito ocupado na profissão e usar menos o 
    sistema.

 </p>
