@model IEnumerable<PI_INFOX.Models.Basicas.basUsuario>

@{
    ViewBag.Title = "Index";
}

<h2>Faça Seu Cadastro</h2>

<p>
    @Html.ActionLink("Novo Cadastro", "Create")
</p>

<div>
    <ul>
        <li>@Html.ActionLink("Home", "Index","home")</li>
    </ul>
 </div>
 <h3>Já possui cadastro? faço o login abaixo</h3>
<div>
    <ul>
        <li>@Html.ActionLink("Login", "Login","home")</li>
    </ul>
 </div>